<strong>Olá, {{ user }}</strong>
<p>
  Uma solicitação de recuperação de senha foi realizada para sua conta ({{email}}) na SPOLID. Se você não foi o autor, apenas descarte esse e-mail.
</p>
<p>
  Para continuar com a recuperação de senha clique no botão abaixo para criar uma nova senha. Ah, esse link expira em 48h.
</p>
<br />
  <a
    style="margin:5px 0 0; border-radius:8px; width: max-content;
        display: flex; align-items: center; justify-content: center;
        background: #0f7c90; border: 0; font-size: 16px;
        cursor: pointer; height: 50px; width: 100%;  text-decoration: none; color: #fff"
    href='http://localhost:3000/reset/{{tokenTemp}}'>
    Nova senha
  </a>
<br />
