<strong>Olá, {{ name }}</strong>
<p>
  Bem-vindo(a) a SPOLID Academy!!
</p>
<p>
  Seu cadastro foi realizado com sucesso na nossa plataforma, e agora você poderá começar a devorar os conteúdos disponíveis aqui.
</p>

<br />

  <a
    style="margin:5px 0 0; border-radius:8px; width: max-content; height: 50px; padding: 0 30px;
        display: flex; align-items: center; justify-content: center;
        background: #0f7c90; border: 0; font-size: 16px;
        cursor: pointer; text-decoration: none; color: #fff"
    href='https://spolidacademy.netlify.app/'>
    Acesse a plataforma
  </a>

<br />
